.tableContent{
    width:500px;
    height:500px;
    margin: 0 auto;
    background-color: white;
    border:1px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:10px;

}
.cell{
    width:160px;
    height:160px;
    background-color: midnightblue;
    color:white;
    font-size: 35px;
}
.btnReset{
    margin-top: 30px;
    padding: 5px;
    border:15px;
    cursor:pointer;
    background-color:royalblue;
    color:white;
    font-family: "Georgia";
    font-weight: bold;
    font-size: 20px;

}
.status{
    color:white;
    font-size: 35px;
    font-family: "Georgia";
    font-weight: bold;
    margin-bottom: 10px;

}
.winner{
    color:green;
}